html {
    font-family: 'Ubuntu Condensed', sans-serif;
    cursor: url(/curio/assets/cursor.png), auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/curio/assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 170%;
}

input {
    height: 6vh;
    width: 30vw;
    border-color: #530000;
    border-width: 3px;
    text-align: right;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
}

a {
    color: #8CB7BA;
}

a:hover {
    color: #8eB9Bc;
}

#header-image {
    width: 100%;
}

.header-block {
    width: 35.4vw;
    display: inline-block;
    float: left;
    text-align: center;
}

#sidebar {
    display: inline-block;
}

.button-flex {
    margin: 11% 5% 1% 5%;
    display: flex;
    justify-content: space-around;
}

.button-flex button {
    font-size: 1.15vw;
    font-family: 'Ubuntu Condensed', sans-serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 1px;
    height: 5vw;
    min-width: 6vw;
    color: white;
    display: inline-block;
}

#headline-text {
    position: absolute;
    color: #8CB7BA;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    font-size: 4vw;
    margin-left: 5vw;
    margin-top: -5.3%;
    user-select: none;
}

#topnav {
    text-align: right;
    height: auto;
}

#update-message {
    position: fixed;
    color: white;
    bottom: 0;
    left: 0;
    font-size: 1.2vw;
    width: 25vw;
    text-align: center;
}

.information {
    position: fixed;
    width: 25vw;
    height: 100vh;
    /* background-image: url(/curio/assets/texture.png); */
    display: none;
    color: white;
}

#search-input {
    margin: 2% 5% 5% 5%;
}

#curio-list {
    padding: 0 2% 0 2%;
    width: 70.8vw;
    height: 100%;
    min-height: 100vh;
    margin: 0 0 0 25vw;
    background-color: rgba(60, 60, 60, .6);
}

.list {
    margin-top: 5%;
}

.items {
    margin-top: 10vh;
}

.itemsresult img {
    float: left;
    width: 30%;
}

ul {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.all {
    background-image: url(/curio/assets/buttons/all.png);
    background-position: center;
    background-size: 120%;
}

.warrens {
    background-image: url(/curio/assets/buttons/warrens.png);
    background-position: center;
    background-size: 120%;
}

.weald {
    background-image: url(/curio/assets/buttons/weald.png);
    background-position: center;
    background-size: 120%;
}

.cove {
    background-image: url(/curio/assets/buttons/cove.png);
    background-position: center;
    background-size: 120%;
}

.ruins {
    background-image: url(/curio/assets/buttons/ruins.png);
    background-position: center;
    background-size: 120%;
}

li {
    list-style: none;
    vertical-align: top;
    border-color: #510000;
    border-width: 0px;
    border-style: solid;
    color: white;
    float: left;
}

.name {
    color: white;
    margin: 10vh 0 2vh 4px;
    font-size: 2em;
}

.type {
    margin: 1vh 0 2vh 8px;
    font-size: 1.2em;
    color: #98b7ba;
}

.desc-image-container {
    vertical-align: top;
    font-size: 0.9em;
    width: 16%;
    height: 16%;
    text-align: center;
    float: left;
}

p {
    padding: none;
    margin: 5px;
}

.image {
    width: 11.8vw;
    margin: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.underline {
    width: 40%;
    border-bottom-color: #7C0605;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.float-left {
    float: left;
}

.center {
    text-align: center;
}

.subimage {
    width: 8vw;
    height: auto;
    display: inline;
    padding: 0;
    margin: 3px;
}

.wrap .subimage-divider {
    border-bottom-color: #7C0605;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 1vh;
}

.itemsresult {
    margin: 4px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-device-width: 736px) {
    .header-block {
        width: 70.8vw;
    }
}